/*Created by: Alland Timas 
This class is used to swap the color palette to a darker theme to be easier on the eyes
To be used with baseGuiController to modify WeatherUI.fxml*/
.root { 
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}
.label{
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}
.separator *.line { 
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}
.scroll-bar{
    -fx-background-color: derive(-fx-base,45%);
}
.pane{
    -fx-background-color: #D7d7d7;
}